.brackets {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 1000px;
}

.brackets__bracket-head {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
}

.bracket-head__title {
  width: 100px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}
.brackets__bracket-body {
  height: 100%;
  margin-left: 50px;
}
.bracket-grid {
  display: grid;
  grid-template-columns: 250px 250px 250px 150px;
}
.bracket-column-1st-round {
  display: grid;
  grid-template-rows: 90px 90px 90px 80px;
}
.bracket-1st-round-match {
  display: flex;
  flex-direction: row;
}
.bracket-1st-round-match_lines {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 40px 40px 10px;
}
.bracket-column-conf-semi {
  margin: 48px 0;
  display: grid;
  grid-template-rows: 80px 100px 80px;
}
.bracket-conf-semi-match {
  display: flex;
  flex-direction: row;
}
.bracket-conf-semi-match_lines {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 40px 40px;
}
.bracket-conf-semi-match_lines-long {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
}
.bracket-conf-semi-slot {
  width: 150px;
}
.bracket-column-conf-finals {
  margin: 138px 0;
}
.bracket-conf-finals-match {
  display: flex;
  flex-direction: row;
}
.bracket-conf-finals-match_lines {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 40px 40px;
}
.bracket-column-nba-finals {
  margin: 138px 0;
}
.bracket-nba-finals-match {
  display: flex;
  flex-direction: row;
}
.bracket-nba-finals-match_lines {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 40px 40px;
}
.lines-box {
  border: none #000000 2px;
  box-sizing: border-box;
}
.bracket-body__first-round {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.bracket-body__conf-semi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 104px;
}
